transformers_stream_generator==0.0.5
sympy==1.13.0
scikit-learn
datasets>=2.16.0
peft==0.7.1
tiktoken==0.8.0
tfrecord==1.14.5
tensorboard==2.18.0
rouge-metric==1.0.1
jieba==0.42.1
iopath==0.1.10
jsonlines==4.0.0
timm==1.0.10
mindstudio-probe==1.0.3
gpytorch==1.12.0
orjson==3.10.7
blobfile==3.0.0
librosa==0.10.2.post1
numpy>=1.19.2,<2.0.0
tokenizers>=0.21,<0.22
decorator
scipy
sentencepiece
einops==0.8.1
pybind11
six
ninja
wheel
regex
attrs
psutil
pyyaml
pytest
hydra-core
asttokens
astunparse
ml_dtypes
tensordict==0.1.2
codetiming
latex2sympy2
word2number
safetensors==0.5.1
huggingface_hub==0.32.3